.container
  display: flex
  align-items: center
  justify-content: center

.wrapper
  width: 500px
  padding: 50px
  background-color: var(--blackSoft)
  border-radius: 10px
  flex-direction: column
  text-align: center
  gap: 30px

.github
  width: 100%
  padding: 20px
  margin-bottom: 30px
  cursor: pointer
  border-radius: 5px
  border: none
  outline: none
  background-color: var(--white)
  color: var(--btn)
  transition: all .3s ease-in-out
  cursor: pointer
  font-weight: bold
  font-family: Montserrat
  font-size: 15px
  &:hover
    transform: translate(0,-3px)
    background-color: var(--btnLighter)
    color: var(--white)